<div class="jumbotron">
    <div class="container">
    <div class="card col-md-6 col-6 col-sm-6 col-lg-6 offset-3 mt-5">
        <div class="card-body" >
            <h1 style="text-align: center; font-family: cursive;">Login Page</h1>
            <div class="alert alert-danger" *ngIf='error'>{{error}}</div>
        <form #action="" #loginForm='ngForm' (ngSubmit)='login(loginForm)'>
    
            <div class="form-group">
                <label for="email"> <h5> Email:</h5></label>
                <input type="email" class="form-control" id="email" #email='ngModel' ngModel name="email" required minlength="7" ngModel >
                    <p class="alert alert-danger" *ngIf="email.touched && !email.valid">Please  Enter valid id</p>
            </div>
            <div class="form-group">
                <label for="password"><h5> Password:</h5></label>
                <input type="password" id="password" #password='ngModel' ngModel name="password" required minlength="7" id="password"
                    class="form-control">
                    <div *ngIf='password.touched && password.invalid'>
                        <p class="alert alert-danger" *ngIf='password.errors.required'>This field is mandatory</p>
                        <p class="alert alert-danger" *ngIf='password.errors.minlength'>Minimum length is 8</p>
                    </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn float-right login_btn">
            </div>
        
        </form>
    </div>
    </div>
    </div>
    </div>
    
    
