<div class="jumbotron">
  <div class="image">
    <div class="container">
      <div class="card">
        <div class="input-group">
          <div class="bd-example" class="card card-body col-md-12">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <div class="content" role="main">

                <button> <a routerLink="/">GoTo Home page</a></button>
              </div>
            </div>
            <h1>Welcome to Admin Page...!!!</h1>
          </div>

          <div class="card text-center col-md-12">
            <!-- <div class="card-header">
          
        </div> -->
            <div class="card-body">
              <h5 class="card-title">Add Schedule-Flight</h5>
              <a href="/add-scheduledflight" class="btn btn-primary">Search</a>
            </div>

          </div>

          <div class="row col-md-12">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Update-ScheduledFlight</h5>

                  <a href="/update-scheduledflight" class="btn btn-primary">Search</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Flight-Details</h5>

                  <a href="/flightdetail" class="btn btn-primary">Search</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>